@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
}

aside {
  width: fit-content;
  height: 120vh;
  background-color: white;
  box-shadow: -7px -2px 20px 0px;
}

.logo {
  width: 42px;
  height: 40px;
}

.nav-link {
  text-decoration: none;
  padding: 6px !important;
}

.nav-link.active {
  background-color: #ABD5f8;
  border-radius: 4px;
  padding: 6px;
}

.analytic-link {
  background-color: #ffffff00;
  border-radius: 6px;
  text-decoration: none;
}

.analytic-link.open {
  color: #315DED;
  border-radius: 6px;
  text-decoration: none;
}

article {
  height: fit-content;
}

.data-container h1 {
  font-size: clamp(1rem, 48px, 4rem);
}

.menu {
  width: fit-content;
  height: fit-content;
}

.mobile-menu {
  height: 100vh;

}

.analytics-closed {
  display: none;
}

.analytics-open {
  display: flex;
  position: relative;
  top: -3px;
  height: fit-content;
  transition: 0.5s;
  border-radius: 0 0 6px 6px;
  background-color: #e9f2f9;
}

.edit-1 {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: #ABD5f8;
  color: #315DED;
  padding: 4px 42px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.edit-no-data {
  background-color: #ABD5f8;
  color: #315DED;
  padding: 4px 42px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
}

.information-text {
  font-size: 24px;
}

.progress-board {
    min-height: 376px;
    height: fit-content;
  }

@media (max-width: 768px) {
  .data-container h1 {
    font-size: 28px;
  }

  .data-container h5 {
    font-size: 18px;
  }

}

@media (max-width: 1400px) {
    aside {
    height: 230vh;
  }
}

@media (max-width: 1199px) {

    .edit-1 {
      position: absolute;
      top: 16px;
      right: 16px;
      width: fit-content;
      height: fit-content;
      padding: 4px 26px;
      font-size: 20px;
  }



}

@media (max-width: 991px) {
  aside {
    width: 100%;
    height: fit-content;
    background-color: #315ded00;
    box-shadow: none;
    margin-bottom: 36px;
  }

  .information-text {
    font-size: 16px;
  }

  .edit-no-data {
    padding: 4px 30px;
    font-size: 20px;
  }
}

.mobile-sidebar-closed {
    transform: translateX(-120%);
    position: absolute;
    transition: 0.3s;
    height: 100vh;
    width: 324px;
    padding: 16px;
    z-index: 100;
    margin: 0;
  }

.mobile-sidebar-open {
  transform: translateX(0);
  position: absolute;
  background-color: white;
  height: 200vh;
  width: fit-content;
  padding: 16px;
  z-index: 100;
  margin: 0;
  transition: 0.3s;
}

.expenses, .incomes {
  height: 466px;
}

.recent-expense-number  {
  font-size: 36px;
}

.recent-income-number {
  font-size: 36px;
}

.recent-expense-category {
  font-size: 16px;
  background-color: #f87474;
}

.recent-income-category {
  font-size: 16px;
  background-color: #7dd567;
}

.recent-expense-item {
  font-size: 28px;
}

.recent-income-item {
  font-size: 28px;
}


.recent-expense-date {
  font-size: 14px;
  color: #525252;
}

.recent-income-date {
  font-size: 14px;
  color: #696969;
}

.add {
  background-color: #ABD5f8;
  color: #315DED;
  padding: 4px 42px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.view-all {
  background-color: #ffffff;
  outline: 2px solid #315DED;
  color: #315DED;
  padding: 4px 40px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.recent-expense {
  background-color: #ffb2b2;
  border-radius: 18px;
}

.recent-income {
  background-color: #CDFFC0;
  border-radius: 18px;
}

.recent-expense-number span, .recent-income-number span {
  font-size: 18px;
}

@media (max-width: 768px) {
  .recent-expense-category, .recent-income-category {
    font-size: 14px;
  }

  .recent-expense-number, .recent-income-number {
    font-size: 22px;
  }
}

@media (max-width: 1199px) {

  .expenses, .incomes {
    height: auto;
    min-height: 366px;
  }

  .recent-expense-number span, .recent-income-number span {
    font-size: 12px;
  }

  .add {
    background-color: #ABD5f8;
    color: #315DED;
    padding: 4px 36px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

  .view-all {
    background-color: #ffffff;
    outline: 2px solid #315DED;
    color: #315DED;
    padding: 4px 36px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .recent-income-date {
    font-size: 12px;
  }

  .recent-expense-date {
    font-size: 12px !important; 
  }

  .recent-expense {
    border-radius: 10px !important;
  }

  .recent-income {
    border-radius: 10px !important;
  }

  .recent-expense-item {
    font-size: 22px;
  }

  .recent-income-item {
    font-size: 22px;
  }
}

@media (max-width: 380px) {
  .recent-expense-number, .recent-income-number {
    font-size: 20px;
  }

  .recent-expense-item {
    font-size: 18px;
  }

  .recent-income-item {
    font-size: 18px;
  }

}