* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
}

.container {
    min-height: 812px;
    height: auto;
}

.title {
    font-size: 32px;
}

.add-to-table-btn {
    background-color: #ABD5f8;
    color: #315DED;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.add-to-table-btn-sm {
    display: none;
    background-color: #ABD5f8;
    color: #315DED;
    border-radius: 8px;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 22px;
}

.clear-all-expenses {
    font-size: 22px;
    font-weight: 600;
}

.total-expenses {
    font-size: 32px;
    background-color: #e8cece;
}

.expense {
    background-color: #e8e8e8;
}

.expense-item {
    font-size: 28px;
}

.category {
    background-color: #cecece;
    font-size: 24px;
}

.expense-amount {
    font-size: 36px;
}

.date {
    color: #727376;
    font-size: 20px;
}

.trash {
    width: 32px;
}

@media (max-width: 768px) {

    .title {
        font-size: 18px;
    }

    .total-expenses {
        font-size: 20px;
        padding: 6px !important;
    }

    .add-to-table-btn {
        display: none;
    }

    .clear-all-expenses {
        font-size: 18px;
    }

    .expense-amount {
        font-size: 20px;
    }

    .expense-item {
        font-size: 18px;
    }

    .category {
        font-size: 16px;
    }

    .date {
        font-size: 14px;
    }

    .trash {
    width: 26px;
    }

    .add-to-table-btn-sm {
        display: block;
        position: fixed;
        right: 12px;
        bottom: 12px;
    }
}

@media (max-width: 380px) {
    .expense-amount {
        font-size: 18px;
    }

    .clear-all-expenses {
        font-size: 14px;
    }
}