.dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.categories {
    width: 50% !important;
}

.spending-category {
    width: 75%;
    min-width: 400px;
}

.amount {
    background-color: #ffffff56;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1199px) {
    .categories {
        width: 100% !important;
    }

    .category {
        min-width: 100%;
    }
}

@media (max-width: 452px) {
    .spending-category {
        min-width: 100%;
    }
}

.recent-expense-date {
  font-size: 14px;
  color: #525252;
}

