.income-category {
    min-width: 75%;
}

.categories {
    width: 50% !important;
}

@media (max-width: 1199px) {
    .categories {
        width: 100% !important;
    }

    .category {
        min-width: 100%;
    }
}

@media (max-width: 408px) {
    .income-category {
        min-width: 100%;
    }
}