.income-category {
    width: 75%;
    min-width: 400px;
}

.categories {
    width: 50% !important;
}

.recent-income-date {
  font-size: 14px;
  color: #525252;
}

@media (max-width: 1199px) {
    .categories {
        width: 100% !important;
    }

    .category {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .recent-income-date {
        font-size: 12px;
    }
}

@media (max-width: 452px) {
    .income-category {
        min-width: 100%;
    }
}